<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %p [%t] %C.%M(%L) | %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <appender-ref ref="console"/>
        </Root>
    </Loggers>
</Configuration>